[package]
name = "app"
version = "0.1.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/eliabieri/wg_display"
license-file = "LICENSE"

[dependencies]
common = { path = "../common" }

# Widgets
reqwest = { version = "0.11.12", features = ["json"] }
openssl = { version = "0.10", features = ["vendored"] }
async-trait = "0.1.58"
futures = "0.3.25"

## Time
chrono = "0.4.22"
time-humanize = "0.1.3"

# Rendering
cursive = { version = "0.20.0", features = [
    "termion-backend",
], default-features = false }

# Server
time = { version = "0.3.17", features = ["serde-well-known"] }
urlencoding = "2.1.2"
rocket = { version = "0.5.0-rc.2", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
rust-embed = "6.4.2"

# Persistence
sled = "0.34.7"
lazy_static = "1.4.0"

# Testing
tokio-test = "0.4.2"
