name: Build

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Add WASM target
      run: rustup target add wasm32-unknown-unknown
    - name: Install cargo dependencies
      run: cargo install cross --locked &&
        cargo install --locked trunk
    - name: Install tailwindcss
      run: cd frontend && npm install
    # - name: Build for Raspberry Pi 2/3/4)
    #   run: make app_armv7
    # - name: Build for Raspberry Pi 0/1
    #   run: make app_arm
    - name: Build for Raspberry 4, 64 bit
      run: make app_aarch64

