name: Test

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Rust nightly
      run: rustup default nightly
    - name: Add WASM target
      run: rustup target add wasm32-unknown-unknown
    - name: Install cargo dependencies
      run: cargo install --locked trunk
    - name: Install tailwindcss
      run: cd frontend && npm install
    - name: Build native
      run: make
    - name: Run app tests
      run: cd app && cargo test
    - name: Run frontend tests
      run: cd frontend && cargo test
